<div class="car-wrap rounded ftco-animate">
    <div class="img rounded d-flex align-items-end" style="background-image: url({{car.image.url}});">
    </div>
    <div class="text">
        <h2 class="mb-0"><a href="car-single.html">{{car.name}}</a></h2>
        <div class="d-flex mb-3">
            <span class="cat">{{car.category.name}}</span>
            <p class="price ml-auto">${{car.price}} <span>/day</span></p>
        </div>
        <p class="d-flex mb-0 d-block"><a href="{% url 'booking' car.id %}" class="btn btn-primary py-2 mr-1">Book now</a> <a href="{% url 'car_detail' car.id %}" class="btn btn-secondary py-2 ml-1">Details</a></p>
    </div>
</div>

